<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="runMeTask" class="com.yulartech.templateScheduler.RunMeTask" />
<!--  
	<bean name="runMeJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.yulartech.templateScheduler.RunMeJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="runMeTask" value-ref="runMeTask" />
			</map>
		</property>
	</bean>
-->
	<bean id="schedulerTask"  class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
		<property name="targetObject" ref="runMeTask" />
		<property name="targetMethod" value="printMe" />
	</bean>
		
	<!-- Simple Trigger, run every 5 seconds -->
<!-- 	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">		
		<property name="jobDetail" ref="runMeJob" />
		<property name="repeatInterval" value="5000" />
		<property name="startDelay" value="1000" />
	</bean>
-->	

	<bean id="timerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask" ref="schedulerTask" />
		<property name="delay" value="1000" />
		<property name="period" value="60000" />
	</bean>
	
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref local="timerTask" />
			</list>
		</property>
	</bean>
	
	<!-- Cron Trigger, run every 5 seconds -->
<!-- 	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="runMeJob" />
		<property name="cronExpression" value="0/5 * * * * ?" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="runMeJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
-->	
	 
  <!-- Scheduler task -->
<!--   <bean name="schedulerTask" class="com.yulartech.templateScheduler.SchedulerTask" /> -->
 	
   <!-- Scheduler job -->
<!--    <bean name="schedulerJob" class="org.springframework.scheduling.quartz.JobDetailBean">
 
     <property name="jobClass" value="com.yulartech.templateScheduler.SchedulerJob" />
	 
     <property name="jobDataAsMap">
		<map>
		   <entry key="schedulerTask" value-ref="schedulerTask" />
		</map>
      </property>
 
   </bean>
-->
   <!-- Cron Trigger -->
 <!--   <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
 
	<property name="jobDetail" ref="schedulerJob" />
	<property name="cronExpression" value="0/5 * * * * ?" />
 
   </bean>
-->	
   <!-- Scheduler -->
<!--   <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	<property name="jobDetails">
	   <list>
	      <ref bean="schedulerJob" />
	   </list>
	</property>
	 
	<property name="triggers">
	    <list>
		<ref bean="cronTrigger" />
	    </list>
	</property>
   </bean>
 -->

</beans>