html {
  position: relative;
  min-height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 90px; 
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 90px;
	background: 
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}